<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
<title>Embedded Junction Session</title> 

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="viewport" content="width=1024,maximum-scale=1.0" /> 
<meta name="title" content="Embedded Junction Session" /> 
<meta name="description" content="This is a link meant to be interpreted by the g++ plugin in order to allow dynamic embedded of sessions within the Google+ user interface." /> 

<meta property="og:site_name" content="MobiSocial" /> 
<meta property="og:type" content="article" /> 
<meta property="og:title" content="Embedded Junction Session" /> 
<meta property="og:url" content="<%= server %>/embed?app=<%= app %>" /> 
<meta property="og:image" content="<%= server %>/image?app=<%= app %>" /> 
<meta property="og:description" content="This is a link meant to be interpreted by the g++ plugin in order to allow dynamic embedded of sessions within the Google+ user interface." /> 
<meta name="keywords" content="social networking" /> 

<meta http-equiv="refresh" content="0; url=<%= server %>/extension">
</head>
<body>
<a href="<%= server %>/extension"><img src="<%= server %>/image?app=<%= app %>"></a>
<h1>Allow the plugin to install...</h1>
</body>
</html>
