<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
  <title>Embedded Junction Session</title> 

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta name="viewport" content="width=1024,maximum-scale=1.0" /> 
  <meta name="title" content="Embedded Junction Session" /> 
  <meta name="description" content="Allow dynamic embedded of sessions within the Google+ user interface.  Click to install the Chrome plugin.  Share a URL like <%= server %>/embed?app=http://server/file to embed it in the feed." /> 

  <meta property="og:site_name" content="MobiSocial Google+ Embedding" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:title" content="MobiSocial Google+ Embedding" /> 
  <meta property="og:url" content="<%= server %>/embed?app=<%= app %>" /> 
  <meta property="og:image" content="<%= server %>/image?app=<%= app %>" /> 
  <meta property="og:description" content="Allow dynamic embedded of sessions within the Google+ user interface.  Click to install the Chrome plugin.  Share a URL like <%= server %>/embed?app=http://server/file to embed it in the feed." /> 
  <meta name="keywords" content="social networking" /> 

  <meta http-equiv="refresh" content="0; url=<%= server %>/extension">
</head>
<!-- This should never actually be displayed because the calls should be handled by the main server code -->
<body>
  <center>
    <a href="<%= server %>/extension"><img src="<%= server %>/image?app=<%= app %>"></a><br>
    <h1>Allow the plugin to install...</h1>
  </center>
</body>
</html>
